body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.product-page-container {
    display: flex;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    gap: 20px;
}

.product-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

.main-image-container img {
    width: 100%;
    border-radius: 8px;
}

.thumbnail-images img {
    width: 80px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.thumbnail-images img:hover {
    transform: translateY(-3px);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.product-details {
    flex: 1;
    text-align: left;
    margin-left: 30px;
}

.product-title {
    font-size: 2rem;
    margin-bottom: -17px;
}

.product-price {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 20px;
}

.product-description {
    height: 150px;
    overflow-y: auto;
    padding-right: 10px;
}

.view-seller-message-seller-section {
    display: flex;
    margin-top: 27px;
    gap: 76%;
}

.circle-button {
    background: none;
    border: none;
    cursor: pointer;
}

.circle-button:hover {
    transform: scale(1.1);
}

.circle-button img {
    width: 48px;
}

.you-may-also-like-container {
    margin-top: 50px;
    text-align: center;
}

#you-may-also-like {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
