body {
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

button {
    background: #ff0000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
